.page-heading {
    font-size: 28px;
}

.component-content>ul>li{
    display: inline-table;
    margin: 10px 0 10px 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 15px;
    width: 250px;
    border-left: 1px solid #3c3f43;
}
.c__title{
    display: block !important;
    border-left: none !important;
    font-size: 22px;
    font-weight: bold;
}

.component-content ul{
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.f__name{
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.f__name:hover{
    text-decoration: none;
}