.docu-wall{
    height: 100vh;
    background-color: #0f131a;
    padding-left: 314px;
}
.docu-ctn{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 20px;
}
.docu-ctn::-webkit-scrollbar{
    width: 10px;
}
.docu-ctn::-webkit-scrollbar-thumb{
    background: #3c3f43;
}
.docu-ctn::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}
.document___ctn{
    padding: 20px 200px 20px 20px;;
}
/* .page-heading{
    font-size: 28px;
} */
@media (max-width: 767px){
    .docu-wall{
        padding-top: 60px;
        padding-left: 0;
    }
    .docu-ctn{
        padding: 0;
    }
    .document___ctn {
        padding: 20px 60px 20px 20px;
    }
}