.docu-wall{
    height: 100vh;
    background-color: #0f131a;
    padding-left: 314px;
}
.docu-ctn{
    height: 100vh;
    overflow-y: scroll;
    padding-left: 20px;
}
.document___ctn{
    padding: 20px 210px 20px 20px;;
}
/* .page-heading{
    font-size: 28px;
} */
@media (max-width: 767px){
    .docu-wall{
        padding-top: 60px;
        padding-left: 0;
    }
    .docu-ctn{
        padding: 0;
    }
    .document___ctn {
        padding: 20px 60px 20px 20px;
    }
}