.sidebar{
    position: fixed;
    left: 64px;
    width: 260px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar::-webkit-scrollbar{
    width: 10px;
}
.sidebar::-webkit-scrollbar-thumb{
    background-color: #3c3f43;
    border-radius: 2rem;
}
.sidebar::-webkit-scrollbar-thumb:hover{
    background: #aaa;
}
.header{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 22px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.header-txt{
    margin-left: 10px;
}
.panel{
    padding-top: 20px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    color: #fff;
    border-bottom: 1px solid #3c3f43;
    margin-bottom: 10px;
    font-weight: bold;
}
.link-txt{
    color: white;
}
.link-txt:hover{
    color: white;
    text-decoration: none;
}
@media (max-width: 767px){
    .sidebar{
        top: 60px;
        left: 0;
        height: calc(100vh - 60px);
        width: 0;
    }
}